<head><title>New Drama</title></head>
<div class="col-md-6 col-md-offset-3 new-book-form", style= "margin-top: 200px; background-color: #553D67;">
	<div class="new-book-form">
		<h1>New Drama</h1>
		<%= render 'form' %>
	</div>
</div> 