<head><title>Edit Review</title></head>

<div class="col-md-6 col-md-offset-3 new-book-form", style= "margin-top: 200px; background-color: #E98074;"> 
    <div class="edit-review-form">		
		<h1> Edit Review </h1>
		<%= simple_form_for([@drama,@dramareview]) do |f| %>
			<%= f.input :rating, label:"Rating (Enter a value between 0 to 5)" %>
			<%= f.input :comment %>
			<%= f.button :submit, :class=> 'btn-custom2' %>
		<% end %>
	</div>
</div>		