<head><title>New Review</title></head>
<div class="col-md-6 col-md-offset-3 new-book-form", style= "margin-top: 200px; background-color: #464866;">  
  <div class="new-review-form">
    	<h1>New Review </h1>

		<%= render 'form' %>
	</div>
</div>	